<h1>Look at this amazing item!</h1>
<p><%= @item.name %></p>
<p><%= link_to "Edit Item", edit_item_path(@item) %></p>
<p><%= link_to "Delete Item", item_path(@item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>
<br>
<p><%= link_to "Items", root_path %></p>
<p><%= link_to "New Item", new_item_path %></p>